:root {
    --primary-color: #355487;
    --headFoot-text: #fff;
    --myMargin: 5%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--headFoot-text);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    margin-right: var(--myMargin);
}

/* ul:last-child {
    margin-right: 0;
} */

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        "about-me" 
        "work"
        "contact";
    grid-row-gap: 20px;
}

.about-me {
    grid-area: about-me;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr; 
}

.work {
    grid-area: work;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr; 

}

.work-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "first first"
        "second third"
        "fourth fifth";
}

.first-project {
    grid-area: first;
    background-image: url("images/01-app-desktop.png");
}


.second-project {
    grid-area: second;
    
}

.third-project {
    grid-area: third;
}

.fourth project {
    grid-area: fourth;
}

.fifth-project {
    grid-area: fifth;
}

.contact-me {
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

/* footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--headFoot-text);
} */